{% extends 'base.html' %}

{% block main %}  

<div class="row mb-3">
    <div class="col-1 themed-grid-col"></div>
    <div class="col-10 themed-grid-col"> </div>
    <div class="col-1 themed-grid-col"></div>
  </div>
  <div class="b-example-divider"></div>

  <div class="row mb-3">
    <div class="col-1 themed-grid-col"></div>


    <div class="col-10 themed-grid-col">
        <hr class="my-4">
        <div class="col-md-7 col-lg-12"></div>
    </div>
    <div class="col-1 themed-grid-col"></div>
  </div>

{% endblock %}